<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<div>
  <h2>
    List of heroes:
  </h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/details/{{hero.id}}">
      <span class="badge">
        {{hero.id}}
      </span>
        {{hero.name}}
      </a>
      <button (click)="deleteHero(hero)">x</button>     
    </li>
  </ul>
  <div>
    <h3>
      Add new Hero
    </h3>
    <label>
      Hero Name <input #heroName />
    </label>
    <button (click)="addHero(heroName.value)">Register new Hero</button>
  </div>
</div>