<div style="margin-left: 150px; padding: 5px;">
  <div *ngIf="ladderNode" style="border: 1px solid red; width: 250px; padding: 15px;">
    <div style="text-align: right;">
      Team A: {{ladderNode.teamA.name}}
    </div>
    <div style="text-align: left; padding: 15px;">
      Winner: {{ladderNode.winningTeam.name}} <br>
      Score: {{ladderNode.score.scoreA}}:{{ladderNode.score.scoreB}}
    </div>
    <div style="text-align: right;">
      Team B: {{ladderNode.teamB.name}}
    </div>
  </div>

  <div *ngIf="ladderNode">
    <div *ngFor="let node of ladderNode.ladderNodes">
      <app-score-view [ladderNode]="node"></app-score-view>
    </div>
  </div>
</div>